<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982478960432-ubddg74of433fce0qm7in6jicj1mfehd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982478960432-ubddg74of433fce0qm7in6jicj1mfehd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982478960432-0q8lih0o4t8ergbi13h61dckaethej0q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAsCjqDZGWvMxczPwD0K2XYznckLqXF-24</string>
	<key>GCM_SENDER_ID</key>
	<string>982478960432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.icalderon50357.pulperia</string>
	<key>PROJECT_ID</key>
	<string>pulperia-1e3f2</string>
	<key>STORAGE_BUCKET</key>
	<string>pulperia-1e3f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982478960432:ios:e02905a6a4cdf9443e7af5</string>
</dict>
</plist>